#actions {
    border-top: 2px solid rgba(255, 255, 255, 0.205);

    #inner {
        background-color: rgba(128, 255, 111, 0.164);
        border-top: 1px solid rgba(0, 0, 0, 0.226);
        display: flex;

        #action {
            flex: 1;
            display: inline-block;
            padding-top: 8px;
            padding-bottom: 10px;
            padding-right: 12px;
            color: #CECECE;
            text-shadow: 1px 1px #242424;
            border-right: 1px solid rgba(0, 0, 0, 0.226);
            background-image: url('../images/icons/plus.png');
            background-repeat: no-repeat;
            background-position-y: center;
            background-position-x: 10px;
            cursor: pointer;
            transition: 0.2s;
            text-align: center;
        }

        #action:last-child {
            border-right: 0px solid black;
        }

        #action:hover {
            background-color: rgba(128, 255, 111, 0.082);
            color: white;
        }

        #action.check {
            background-image: url('../images/icons/checkmark.png');
        }

        #action.warning {
            background-image: url('../images/icons/warning.png');
        }

        #action.keys {
            background-image: url('../images/icons/key.png');
        }

        #action.user {
            background-image: url('../images/icons/user-plus.png');
        }

        #action.bin {
            background-image: url('../images/icons/bin.png');
        }
    }
}