#container {
    display: flex;
    flex-direction: column;
    height: 100%;

    #messages {
        flex: 1;
        display: flex;
        flex-direction: column;
        position: relative;
        overflow: auto;
        text-shadow: 1px 1px #242424;

        #scroller {
            position: absolute;
            height: 100%;
            width: 100%;

            #message, #action {
                color: #CECECE;
                border-bottom: 1px solid #ffffff44;

                li {
                    display: inline-block;
                    padding: 7px 9px;
                    padding-right: 0px;
                }

                #timestamp {
                    color: #F1F1F1;
                }

                #user {
                    color: rgb(129, 188, 255);
                }

                #message {}
            }

            #message:nth-child(odd) {
                background: #ffffff1c;
            }
            
            #message:nth-child(even) {
                background: #ffffff0c;
            }

            #action {
                background: rgba(78, 255, 131, 0.185);
                color: white;
            }
        }

        #scroller:first-child {
            border-top: 1px solid #ffffff44;
        }

        #scroller #message:nth-last-child() { border-bottom:solid 5px #999; }
    }

    #messages::-webkit-scrollbar { width: 12px; }
    #messages::-webkit-scrollbar-track { background: rgba(255, 255, 255, 0.356); }
    #messages::-webkit-scrollbar-thumb { background: rgba(69, 105, 224, 0.514); }

    #input {
        background: rgba(0, 0, 0, 0.185);
        border: 0px solid black;
        border-top: 1px solid rgba(2, 2, 2, 0.103);
        padding: 8px 10px;
        color: #CECECE;
        text-shadow: 1px 1px #242424;
    }

    #input::placeholder {
        color: #b6b6b6;
        text-shadow: 1px 1px #242424;
    }
}