#menu {
   display: table-row;
   height: 1px;

   > .inner {
      background: rgba(0, 0, 0, 0.185);
      border-bottom: 1px solid rgba(2, 2, 2, 0.103);
   }

   li {
      background-color: rgba(0, 0, 0, 0);
      display: inline-block;
      padding: 11px;
      padding-bottom: 9px;
      padding-top: 9px;
      padding-left: 35px;
      color: #CECECE;
      text-shadow: 1px 1px #242424;
      transition-property: background-color, color;
      transition-duration: 0.3s, 0.3s;
      transition: 0.2s;
      background-repeat: no-repeat;
      background-position-y: center;
      background-position-x: 10px;
   }

   li[alt="tasks"] {
      background-image: url('../images/icons/list.png');
   }

   li[alt="tags"] {
      background-image: url('../images/icons/tags.png');
   }

   li[alt="tokens"] {
      background-image: url('../images/icons/coin-dollar.png');
   }

   li[alt="profile"], li[alt="user"] {
      background-image: url('../images/icons/user.png');
   }

   li[alt="whisper"] {
      background-image: url('../images/icons/bubble.png');
   }

   li[alt="settings"] {
      background-image: url('../images/icons/wrench.png');
   }

   #page {
      color: rgba(253, 255, 115, 0.774);
   }

   .active:hover, .extra:hover {
      background-color: rgba(132, 255, 107, 0.11);
      color: white;
      cursor: pointer;
   }

   .inactive {
      color: rgba(253, 255, 115, 0.774);
   }

   .extra {
      color: rgba(175, 210, 255, 0.938);
   }

   .extra:hover {
      background: rgba(179, 225, 255, 0.199);
   }
}