#profile {
    padding: 15px;
    padding-left: 18px;
    text-shadow: 1px 1px #242424;

    #header {
        color: white;
        font-size: 18px;
        text-transform: uppercase;
        padding: 5px;
    }
}