#prompt {
   background: rgba(0, 0, 0, 0.219);
   position: absolute;
   left: 0px;
   top: 0px;
   height: 100%;
   width: 100%;
   z-index: 99;
   transition: opacity 0.1s;
   opacity: 1;
   display: flex;
   justify-content: center;
   align-items: center;

   #inner {

      #device, #task {
         width: 70vw;

         #top {
            text-align: center;
            color: white;
            font-size: 18px;
            text-transform: uppercase;
            padding: 5px;
         }

         textarea {
            background: rgba(0, 0, 0, 0.295);
            border: 1px solid rgba(255, 255, 255, 0.329);
            padding: 7px 9px;
            color: #F1F1F1;
            resize: vertical;
            margin-bottom: 5px;
            transition: background 0.2s;
            width: 100%;
            min-height: 400px;
         }

         #cont {
            border: 1px solid rgba(255, 255, 255, 0.26);
            margin-bottom: 5px;

            #inp {
               border-bottom: 1px solid rgba(255, 255, 255, 0.26);

               input {
                  background: rgba(255, 255, 255, 0.075);
                  border: 0px solid black;
                  border: 1px solid rgba(0, 0, 0, 0.329);
                  padding: 7px 9px;
                  color: #F1F1F1;
                  width: 100%;
               }

               input::placeholder {
                  color: #c0c0c0;
               }
            }
   
            #total {
               background: rgba(232, 120, 255, 0.137);
               padding: 7px 9px;
               color: white;
               border: 1px solid rgba(0, 0, 0, 0.329);
            }
         }

         #submit {
            background-color: rgba(128, 255, 111, 0.185);
            border: 1px solid rgba(255, 255, 255, 0.205);
            padding: 8px;
            padding-left: 35px;
            color: #CECECE;
            text-shadow: 1px 1px #242424;
            background-image: url('../images/icons/plus.png');
            background-repeat: no-repeat;
            background-position-y: center;
            background-position-x: 10px;
            cursor: pointer;
            transition: 0.2s;
            width: 100%;
         }
      
         #submit:hover {
            background-color: rgba(128, 255, 111, 0.274);
            color: white;
         }
      }

      // LOADING SCREEN -- https://loading.io/css/
      .lds-dual-ring {
         display: block;
         width: 80px;
         height: 80px;
         margin: auto;
      }

      .lds-dual-ring:after {
         content: " ";
         display: block;
         width: 80px;
         height: 80px;
         margin: 1px;
         border-radius: 50%;
         border: 6px solid #fff;
         border-color: #fff transparent #fff transparent;
         animation: lds-dual-ring 1.2s linear infinite;
      }

      @keyframes lds-dual-ring {
         0% { transform: rotate(0deg); }
         100% { transform: rotate(360deg); }
      }
   }

   // CLOSE PROMPT CROSS
   #close {
      background: url('../images/close.png') center center no-repeat;
      position: absolute;
      top: 0px;
      right: 0px;
      height: 80px;
      width: 80px;
      opacity: 0.6;
      transition: 0.3s;
   }

   #close:hover {
      cursor: pointer;
      opacity: 1;
   }
}