#settings {
    width: 70vw;

    #top {
        text-align: center;
        color: white;
        font-size: 18px;
        text-transform: uppercase;
        padding: 5px;
    }

    #content {
        background: rgba(0, 0, 0, 0.295);
        border: 1px solid rgba(255, 255, 255, 0.329);
        padding: 7px 9px;
        color: #F1F1F1;
        resize: vertical;
        margin-bottom: 15px;
        transition: 0.2s;
        word-wrap: break-word;
    }

    textarea:focus {
        background: rgba(122, 255, 133, 0.096);
        border: 1px solid #CECECE;
    }
}