#whisper {
    display: flex;
    flex-direction: column;
    border-top: 1px solid rgba(255, 255, 255, 0.185);

    #message, #action, #error, #request { 
        color: #CECECE;
        display: flex;
        border-top: 1px solid rgba(255, 255, 255, 0.185);
        border-bottom: 1px solid rgba(0, 0, 0, 0.171);

        div {
            padding: 8px 10px;
            padding-right: 0px;
        }

        #msg { flex: 1; }
        #timestamp { color: #F1F1F1; }
        #user { color: rgb(129, 188, 255); }

        a:link, a:visited {
            color: white;
        }

        a:hover {
            text-decoration: underline;
        }
    }

    #message:nth-child(odd) {
        background: rgba(255, 255, 255, 0.068);
    }
    
    #message:nth-child(even) {
        background: rgba(124, 213, 255, 0.11);
    }

    #message:first-child,
    #action:first-child,
    #error:first-child,
    #request:first-child {
        border-top: 0px solid black;
    }

    #action, #error {
        background: rgba(97, 255, 150, 0.192);
        color: white;
    }

    #action {
        border-top: 0px solid black;
    }

    #error {
        background: rgba(245, 111, 111, 0.349);
    }

    #request {
        background: rgba(236, 245, 111, 0.178);
        color: #F1F1F1;
    }
}