#whisper {
    display: flex;
    flex-direction: column;
    height: 100%;

    #messages {
        flex: 1;
        display: flex;
        flex-direction: column;
        position: relative;
        overflow-y: auto;
        text-shadow: 1px 1px #242424;
        border-bottom: 1px solid #ffffff44;
        
        // TODO: FIX EXTRA BOTTOM BORDER ON OVERFLOW

        #scroller {
            position: absolute;
            height: 100%;
            width: 100%;

            #foo {
                border-top: 1px solid rgba(0, 0, 0, 0.171);
                border-bottom: 1px solid rgba(255, 255, 255, 0.185);

                #message, #action, #error, #request {
                    color: #CECECE;
                    display: flex;
                    border-top: 1px solid rgba(255, 255, 255, 0.185);
                    border-bottom: 1px solid rgba(0, 0, 0, 0.171);
    
                    div {
                        padding: 7px 9px;
                        padding-right: 0px;
                    }
    
                    #msg { flex: 1; }
                    #timestamp { color: #F1F1F1; }
                    #user { color: rgb(129, 188, 255); }

                    a:link, a:visited {
                        color: white;
                    }

                    a:hover {
                        text-decoration: underline;
                    }
                }
    
                #message:nth-child(odd) {
                    background: rgba(255, 255, 255, 0.068);
                }
                
                #message:nth-child(even) {
                    background: rgba(124, 213, 255, 0.11);
                }

                #message:first-child,
                #action:first-child,
                #error:first-child,
                #request:first-child {
                    border-top: 0px solid black;
                }
    
                #action, #error {
                    background: rgba(97, 255, 150, 0.192);
                    color: white;
                }

                #action {
                    border-top: 0px solid black;
                }
    
                #error {
                    background: rgba(245, 111, 111, 0.349);
                }
    
                #request {
                    background: rgba(236, 245, 111, 0.178);
                    color: #F1F1F1;
                }
            }
            }
    }

    #messages::-webkit-scrollbar { width: 12px; }
    #messages::-webkit-scrollbar-track { background: rgba(255, 255, 255, 0.356); }
    #messages::-webkit-scrollbar-thumb { background: rgba(69, 105, 224, 0.514); }

    #footer {
        display: flex;
        margin: 0px;
        padding: 0px;
        width: 100%;

        #chat-input {
            flex: 1;
            background: rgba(41, 93, 172, 0.322);
            border: 0px solid black;
            padding: 12px;
            padding-bottom: 9px;
            padding-top: 7px;
            color: white;
            text-shadow: 1px 1px #242424;
            width: 100%;
            border-right: 1px solid #ffffff44;
            border-top: 1px solid rgba(2, 2, 2, 0.103);
        }

        #chat-input::placeholder {
            color: #e9e9e9;
            text-shadow: 1px 1px #242424;
        }

        #chat-button {
            padding: 12px;
            padding-bottom: 9px;
            padding-top: 7px;
            background: rgba(233, 123, 255, 0.185);
            cursor: pointer;
            color: #F1F1F1;
            transition: 0.2s;
            border: 0px solid black;
            border-top: 1px solid rgba(2, 2, 2, 0.329);
            border-left: 1px solid rgba(2, 2, 2, 0.329);
        }

        #chat-button:hover {
            background: rgba(233, 123, 255, 0.308);
            color: white;
        }
    }
}